:root{
    --orange: #000000;
    --blue: #000000;
    --green: #000000;
}


.my-card{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    aspect-ratio: 1/1;
    box-shadow: 1px 1px 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue{
    color: var(--blue);
}

.orange{
    color: var(--orange);
}

.green{
    color: var(--green);
}